.root {  
  width: 80%;
  max-width: 540px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 0.25rem solid #abcdef;
  border-radius: 0.5rem;  
  padding: 1rem;
  transform: translate(-50%, -50%);
}

header.header {
  display: flex;
  justify-content: space-between;
}

.closeit {
  padding: 2px 8px;
  color: #999;
}

.closeit:hover {  
  background-color: #ccc3;
  color: #aaa;
  border-radius: 50%;
  cursor: pointer;
}

.button {  
  margin: 0.5rem 1rem 0.5rem 0;
  border: none;
  background-color: #abcdef;
  font: inherit;
  border-radius: 0.25rem;
}

.actionbuttons {
  margin: 0.5rem 20%;
  display: flex;  
  justify-content: space-between;
}