h3.header {  
  margin: 0.5rem 0.8rem;
}

.list {
  margin: 0 0 0 0.5rem;
  padding: 0;  
  width: 80%; 
  max-width: 920px; 
}

.list li {  
  margin: 1rem 0;
  padding: 1rem;
  border: 3px solid #abcdef;
  border-radius: 0.5rem;
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.list li h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #abcdef;
}

.list li h2 {
  margin: 0;
  font-size: 1rem;
  color: #6c6c6c;
}

.list li p {
  margin: 0;
}