.content {  
  background-color: #abcdef10;
  border: 2px solid #abcdef60;
  border-radius: 1rem;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem -0.5rem;  
}

.content p {
  margin: 0;
  font-size: 0.8rem;
}

.price {
  text-align: right;
}

p.label {
  font-weight: 700;
}

p.createdby {
  text-align: center;
}

.body {
  margin: 0.25rem 0 0 0;
}

.body textarea {
  background-color: transparent;
  width: 100%;
  border: none;
  resize: none;
  font: inherit;
  font-size: 0.8rem;
}